# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.java          text eolf=lf
*.ts            text eolf=lf
*.tsx           text eolf=lf
*.js            text eolf=lf
*.jsx           text eolf=lf
*.json          text eolf=lf
*.properties    text eolf=lf
*.sh            text eolf=lf
*.txt           text eolf=lf
*.xml           text eolf=lf
*.yml           text eolf=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.gif           binary
*.ico           binary
*.jar           binary
*.aar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary